@charset "utf-8";
/* 首頁玩遊戲按鈕 */
.play_game_bn {
  animation: pg_bn linear 0.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: pg_bn linear 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: pg_bn linear 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: pg_bn linear 0.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: pg_bn linear 0.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
@keyframes pg_bn{
  0% {
    background: url("../images/play_game_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_game_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_game_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_game_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-moz-keyframes pg_bn{
  0% {
    background: url("../images/play_game_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_game_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_game_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_game_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-webkit-keyframes pg_bn {
  0% {
    background: url("../images/play_game_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_game_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_game_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_game_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}
/* 麻將玩遊戲按鈕 */
.play_majan_bn {
  animation: pm_bn linear 0.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: pm_bn linear 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: pm_bn linear 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: pm_bn linear 0.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: pm_bn linear 0.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
@keyframes pm_bn{
  0% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-moz-keyframes pm_bn{
  0% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-webkit-keyframes pm_bn {
  0% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-o-keyframes pm_bn {
  0% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-ms-keyframes pm_bn {
  0% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_majan_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_majan_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}
/* 六人十三張玩遊戲按鈕 */
.play_sixp_bn {
  animation: p6_bn linear 0.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: p6_bn linear 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: p6_bn linear 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: p6_bn linear 0.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: p6_bn linear 0.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
@keyframes p6_bn{
  0% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-moz-keyframes p6_bn{
  0% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-webkit-keyframes p6_bn {
  0% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-o-keyframes p6_bn {
  0% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}

@-ms-keyframes p6_bn {
  0% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  50.99% {
    background: url("../images/play_6p13p_bn.png") no-repeat center top;
    background-size: auto 100%;
  }
  51% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
  100% {
    background: url("../images/play_6p13p_bn_over.png") no-repeat center top;
    background-size: auto 100%;
  }
}
