@charset "utf-8";
/* CSS Document */
@media (max-width: 1199px) {
  #nav {
    margin: 0px;
  }
  .game_ui ul {
    margin-top: -25%;
    padding: 1vw 2vw 3% 2vw;
  }
  .game_ui ul li a {
    font-size: 2rem;
    padding: 3vw;
  }
}
@media (max-width: 991px) {}
@media (max-width: 767px) {
  .top_menu {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .menu_list ul li a {
    font-size: 1.6rem;
  }
  .logo {
    text-align: center;
    width: 100%
  }
  .logo_m {
    display: none;
  }
  .logo img {
    width: 50%;
  }
  main {
    margin-top: 31vw;
  }
  .key_vision {
    background-size: auto 100%;
    height: 60vw;
  }
  .game_ui ul li a {
    font-size: 1.5rem;
    padding: 1vw;
  }
  .footer_conter {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }
}