@charset "utf-8";
/* CSS Document */
@media (max-width: 767px) {
  .top_menu {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .menu_list ul li a{
    font-size: 1.6rem;
  }
  .logo {
    text-align: center;
    padding: 1vw;
  }
  .logo img {
    width: 50%;
  }
	.key_vision{
	background-size: auto 100%;
}
}