@charset "utf-8";
/* CSS Document */
@media (max-width: 1199px) {
  #nav {
    margin: 0px;
  }
  .game_ui ul {
    margin-top: -25%;
    padding: 1vw 2vw 3% 2vw;
  }
  .game_ui ul li a {
    font-size: 2rem;
    padding: 3vw;
  }
}
@media (max-width: 767px) {
  .top_menu {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .menu_list ul li a {
    font-size: 1.6rem;
  }
  .logo {
    text-align: center;
    width: 100%
  }
  .logo_m {
    display: none;
  }
  .logo img {
    width: 50%;
  }
  main {
    margin-top: 31vw;
  }
  .key_vision {
    background-size: auto 100%;
    height: 60vw;
  }
  .game_ui ul li a {
    font-size: 1.5rem;
    padding: 1vw;
  }
  .download_now {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 1fr 0.5fr;
  }
  .footer_conter {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }
  /*麻將*/
  .majan_title {
    background-size: auto 100%;
    height: 60vw;
  }
  .content_main, .content_main01 {
    margin-top: 31vw;
  }
  .game_features_title {
    width: 50vw;
  }
  .features_content {
    grid-template-columns: auto;
    grid-template-rows: 1fr 0.7fr;
    align-items: start;
  }
  .features_content h1 {
    font-size: 2rem;
  }
  .features_content h4 {
    font-size: 1.5rem;
  }
  /*六人十三張*/
  .sixp_title {
    background-size: auto 100%;
    height: 60vw;
  }
  /*成為館主*/
  .join_title {
    background-size: auto 100%;
    height: 60vw;
  }
  .join_kun h2 {
    font-size: 1.8rem;
  }
  .join_content02 {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 1vh;
  }
  .join_content02 h4 {
    font-size: 1.4rem;
  }
  .discount_event {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 1vw;
  }
  .join_now {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 1vh;
  }
  .join_now h4 {
    font-size: 1.4rem;
  }
  /*安裝與登入*/
  .nav-tabs li a {
    font-size: 1.8rem;
    padding: 10px 1.4rem;
  }
  .tab-content {
    font-size: 1.5rem;
  }
  .process_img img {
    border-radius: 2rem;
  }
}