@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
/* CSS Document */
html, body {
  -webkit-overflow-scrolling: touch; /*解決該死的哀鳳300毫秒延遲*/
  -ms-touch-action: none; /*IE10 解決該死的哀鳳300毫秒延遲*/
  /*touch-action: none; IE11 解決該死的哀鳳300毫秒延遲*/
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: 'Noto Sans TC', Helvetica, Arial, sans-serif, 'Microsoft JhengHei';
  line-height: 1.6em;
  letter-spacing: 0.1em;
  color: #fff;
  overflow-y: auto;
}
img {
  width: 100%;
}
a, a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  color: white;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0px;
}
body {
  background: url("../images/bg.jpg") repeat-y center center rgba(0, 0, 0, 1.00);
}
.content {
  background: url("../images/top_bg.jpg") no-repeat center top;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr auto 1fr;
}
#nav {
  position: fixed;
  width: -webkit-fill-available;
  margin: 0 16px 0 0;
  z-index: 99;
}
.top_menu, main, .footer_conter, .content_main {
  max-width: 1366px;
  margin: 0 auto;
}
.top_menu {
  background-color: rgba(0, 0, 0, 0.60);
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-auto-rows: auto;
}
.logo img {
  max-width: 301px;
}
.logo, .logo_m {
  display: block;
}
.menu_list {
  width: 100%;
}
.menu_list ul {
  padding: 1vw 2vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: center;
  grid-column-gap: 1vw;
  height: 100%;
  list-style: none;
  margin: 0px;
}
.menu_list ul li a, .game_ui ul li a {
  color: rgba(255, 255, 255, 1.00);
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  padding: 1rem 2vw;
  display: block;
  border: 1px solid rgba(255, 255, 255, 1.00);
  border-radius: 0.8rem;
}
.menu_list ul li a:hover, .menu_list ul li a:visited, .game_ui ul li a:hover, .game_ui ul li a:visited {
  background-color: rgba(255, 225, 104, 0.30)
}
main {
  display: grid;
  grid-template-rows: 0.5fr auto 0.5fr 0.5fr 0.5fr;
  grid-row-gap: 2.4vh;
  margin-top: 10rem;
}
.key_vision {
  height: 75vh;
  max-height: 546px;
  background: url("../images/index_header_bg.jpg") no-repeat center top;
  background-size: auto;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-content: center;
}
.event_text {
  max-width: 806px;
}
.event_text01 {
  height: 100%;
  text-align: -webkit-center;
}
a.play_game_bn {
  background: url("../images/play_game_bn.png") no-repeat center top;
  background-size: auto 100%;
  max-width: 390px;
  max-height: 160px;
  height: 100%;
  margin: 0 auto;
  display: block;
}
a:hover.play_game_bn, a:visited.play_game_bn {
  animation: pg_bn linear 0s;
  -webkit-filter: brightness(120%);
}
a:hover.install_login_bn {
  -webkit-filter: brightness(120%);
}
.game_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2.4vh;
}
.game_ui ul {
  padding: 1vw 2vw 5% 2vw;
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  grid-column-gap: 1vw;
  height: 100%;
  list-style: none;
  margin: 0px;
  position: relative;
  margin-top: -20%;
}
.game_ui ul li a {
  padding: 3vh;
}
footer {
  background: url("../images/footer_bg.jpg") no-repeat center bottom;
}
.footer_conter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw;
  min-height: 179px;
  background-color: rgba(0, 0, 0, 0.60);
}
.seal_15 {
  max-width: 50px;
  padding-right: 0.8vw;
}
/*南北麻將*/
.majan_title_text, .sixp_title_text {
  max_width: 915px;
}
.majan_title {
  height: 75vh;
  max-height: 546px;
  background: url("../images/majan_title_bg.jpg") no-repeat center top;
  background-size: auto;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-content: center;
}
a.play_majan_bn {
  background: url("../images/play_majan_bn.png") no-repeat center top;
  background-size: auto 100%;
  max-width: 390px;
  max-height: 160px;
  height: 100%;
  margin: 0 auto;
  display: block;
}
a:hover.play_majan_bn, a:visited.play_majan_bn {
  animation: pg_bn linear 0s;
  -webkit-filter: brightness(120%);
}
.content_main {
  display: grid;
  grid-template-rows: 0.3fr 0.5fr;
  grid-row-gap: 2.4vh;
  margin-top: 10rem;
  width: 100%;
}
.game_features {
  background: url("../images/game_features_bg.jpg") no-repeat center top;
}
.game_features_title {
  max-width: 363px;
  width: 50vh;
  margin: 0 auto;
}
.carousel-inner {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ffe48b;
  border-radius: 2rem;
  margin: 0 auto 1% auto;
  background: -moz-linear-gradient(left, rgba(13, 9, 18, 0) 0%, rgba(13, 9, 18, 0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(13, 9, 18, 0) 0%, rgba(13, 9, 18, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(13, 9, 18, 0) 0%, rgba(13, 9, 18, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000d0912', endColorstr='#cc0d0912', GradientType=1); /* IE6-9 */
}
.carousel-control.left, .carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
}
.carousel-control {
  width: 5%;
}
.features_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2%;
}
.features_content h1 {
  color: #FFE64D;
  font-weight: bold;
}
/*六人十三張*/
.sixp_title {
  height: 75vh;
  max-height: 546px;
  background: url("../images/6p13p_title_bg.jpg") no-repeat center top;
  background-size: auto;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-content: center;
}
a.play_sixp_bn {
  background: url("../images/play_6p13p_bn.png") no-repeat center top;
  background-size: auto 100%;
  max-width: 390px;
  max-height: 160px;
  height: 100%;
  margin: 0 auto;
  display: block;
}
a:hover.play_sixp_bn, a:visited.play_sixp_bn {
  animation: p6_bn linear 0s;
  -webkit-filter: brightness(120%);
}
/*成為館主*/
.join_title {
  height: 75vh;
  max-height: 546px;
  background: url("../images/join_title_bg.jpg") no-repeat center top;
  background-size: auto;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
.join_title_text {
  max-width: 855px;
}
.join_kun {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ffe48b;
  border-radius: 2rem;
  margin: 0 auto 1% auto;
  padding: 1% 2% 2% 2%;
  background: -moz-linear-gradient(left, rgba(13, 9, 18, 0) 0%, rgba(13, 9, 18, 0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(13, 9, 18, 0) 0%, rgba(13, 9, 18, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(13, 9, 18, 0) 0%, rgba(13, 9, 18, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000d0912', endColorstr='#cc0d0912', GradientType=1); /* IE6-9 */
}